/* Floating cans */

@keyframes herbal-1 {
    0% { transform: translate(0,  0px) rotate(2deg); }
    50%  { transform: translate(0, 15px) rotate(2deg); }
    100%   { transform: translate(0, -0px) rotate(2deg); }   
}

@keyframes herbal-2 {
    0% { transform: translate(0px,  -5px) rotate(-3deg); }
    50%  { transform: translate(10px, -15px) rotate(-3deg); }
    100%   { transform: translate(0, -5px) rotate(-3deg); }   
}

@keyframes herbal-3 {
    0% { transform: translate(-5px,  0px) rotate(5deg); }
    50%  { transform: translate(-15px, 10px)rotate(5deg); }
    100%   { transform: translate(-5px, 0px)rotate(5deg); }   
}

/* Marqees */
/* https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/ */

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee:hover .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

#coming-soon figure:hover #tipsy-light {
    transform: translate(25px, 10px) ;
}

#coming-soon figure:hover #tipsy-dark{
    transform: translate(50px, 15px) ;
}

#coming-soon figure:hover #tipsy-red{
    transform: translate(75px, 20px) ;
}