.show-md{
    display: none;
}

@media (max-width: 1035px){
    .hidden-md{
        display: none;
    }
    .show-md{
        display: flex;
    }
}

@media (max-width: 992px){
    #reviews p{
        width: 80vw;
    }
    #reviews img{
        width: 80vw;
    }
}

@media (max-width: 768px){
    .stroke{
        -webkit-text-stroke-width: 2px;
    }
    #header{
        height: 90vh;
    }
    #header h1{
        margin-top: 15vh;
    }
    #partial-can{
        bottom: 0;
        margin: 0;
        height: 50vh;
        position: absolute;
    }
    #brand{
        left: 40%;
    }
    #about p{
        padding: 0px 50px;
    }
    #coming-soon img{
        height: 40vh;
    }
    footer input{
        width: 50vw;
    }
    footer{
        margin-top: 100px;
    }
}

@media (max-width: 576px){
    #brand{
        left: 33%;
    }
    
    #about p{
        padding: 0px;
    }
    #reviews p{
        width: 85vw;
    }
    #reviews img{
        width: 85vw;
    }
    #coming-soon img{
        height: 20vh;
    }
    #coming-soon figure:hover #tipsy-light {
        transform: translate(12.5px, 5px) ;
    }
    #coming-soon figure:hover #tipsy-dark{
        transform: translate(25px, 7px) ;
    }
    #coming-soon figure:hover #tipsy-red{
        transform: translate(37.5px, 10px) ;
    }
}
