.show-md{
    display: none;
}

@media (max-width: 1035px){
    .hidden-md{
        display: none;
    }
    .show-md{
        display: flex;
    }
}

@media (max-width: 768px){
    .stroke{
        -webkit-text-stroke-width: 2px;
    }
    #header h1{
        margin-top: 15vh;
    }
    #partial-can{
        bottom: 0;
        margin: 0;
        height: 50vh;
        position: absolute;
    }
    #brand{
        left: 40%;
    }
    #about p{
        padding: 0px 50px;
    }
    #reviews p{
        width: 80vw;
    }
    
    #reviews img{
        width: 80vw;
    }
}

@media (max-width: 576px){
    #brand{
        left: 33%;
    }
    
    #about p{
        padding: 0px;
    }
}
