:root{
    --red: #f95738;
    --cream: #fffae4;
}

body{
    background-color: var(--cream) !important;
}

.stroke{
    color: #fff;
  -webkit-text-fill-color: var(--red);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
}

.small-stroke{
    color: #fff;
  -webkit-text-fill-color: var(--red);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

#brand{
    position: fixed;
    font-family: "gambado-sans-forte", sans-serif;
    font-weight: 700;
    font-style: normal;
    top: 10px;
    left: 45%;
    z-index: 1;
}

#header{
    background-image: url(../imgs/jumbotron-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#header h1{
    margin-top: 30vh;
    color: #fff;
    font-family: "gambado-sans-forte", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#header h2{
    font-family: "gambado-sans-forte", sans-serif;
    font-weight: 700;
    font-style: normal;
} 

#header section{
    padding-left: 50px;
}

#herbal-1{
    height: 40vh;
    position: relative;
    top: 60px;
    left: 40px;
    animation-name: herbal-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#herbal-2{
    height: 40vh;
    position: relative;
    top: 250px;
    left: 150px;
    animation-name: herbal-2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#herbal-3{
    height: 40vh;
    position: relative;
    top: 400px;
    left: -225px;
    animation-name: herbal-3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#partial-can{
    height: 70vh;
    margin-top: 30vh;
}

.show-md{
    display: none;
}

#about h2{
    font-family: "gambado-sans-forte", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--red);
}

#about p{
    font-size: 24px;
    font-family: "stevie-sans", sans-serif;
    font-style: normal;
}

#about img{
    height: 50px;
}

@media (max-width: 1035px){
    .hidden-md{
        display: none;
    }
    .show-md{
        display: flex;
    }
}

@media (max-width: 768px){
    .stroke{
        -webkit-text-stroke-width: 2px;
    }
    #header h1{
        margin-top: 15vh;
    }
    #partial-can{
        bottom: 0;
        margin: 0;
        height: 50vh;
        position: absolute;
    }
}
